{% extends 'base.html' %} <!-- Add this for inheritance -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1"> <!-- Content Container -->
        <h2 class="mt-4">NLP with INDRA</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" ><a href="{% url 'home' %}">Upload File</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">OCR</a></li>
                <li class="breadcrumb-item active" aria-current="page">NLP</li>
            </ol>
        </nav>

        {% if messages %} <!-- DISPLAYING MESSAGE: SUCCESS OR WARNING -->   
            {% for message in messages %}
                {% if message.tags %} 
                    <div class="alert alert-{{ message.tags }} role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}     
        {% endif %}

        <div class="container pt-3 my-3 border bg-light">    
            <p>{{foundFile.rules}}</p>
        </div>

        


        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <!-- <input type="text" name="fileId" value="{{fileId.id}}" style="display: none;"/> -->

            <button
             type="submit" class="btn btn-primary btn-lg" style="float: right;">Upload new File</button>
            
        </form>


    </div>
</main>

{% endblock %}