{% extends 'base.html' %} <!-- Add this for inheritance -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1"> <!-- Content Container -->
        <h2 class="mt-4">OCR with PyTesseract</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <!-- <li><a href="{% url 'home' %}">Upload Files</a></li>
                <li>OCR</li> -->
              <li class="breadcrumb-item active" ><a href="{% url 'home' %}">Upload File</a></li>
              <li class="breadcrumb-item active" aria-current="page">OCR</li>
            </ol>
        </nav>

        {% if messages %} <!-- DISPLAYING MESSAGE: SUCCESS OR WARNING -->   
            <!-- {% for message in messages %} -->
                {% if message.tags %} 
                    <div class="alert alert-{{ message.tags }} role="alert">{{ message }}</div>
                {% endif %}
            <!-- {% endfor %}      -->
        {% endif %}


        <div class="card mb-4 bg-light">
            <div class="card-body">
                Following text was extracted by the OCR for File <b>"{{foundFile.filename}}"</b>. Please check for correctness. You can edit the text directly, don't forget to "Save Changes".
            </div>
        </div>


        <form action="{% url 'save' %}" method="POST">
            {% csrf_token %}
            <textarea id="my_textarea" name="my_textarea" style="font-family: Arial;font-size: 12pt;width:100%;height:30vw">{{foundFile.ocrtext}}</textarea>
            <input type="text" name="fileId" value="{{foundFile.id}}" style="display: none;"/>
            <button type="submit" class="btn btn-success btn-lg" style="float: left; margin-bottom: 4vw;">Save Changes</button>

        </form>

        
        <!-- NLP / INDRA BUTTON + PASSING FILE ID -->
        <form action="{% url 'processingNlp' %}" name="fileId" value="{{fileId}}" method="POST">
            {% csrf_token %}
            <input type="text" name="fileId" value="{{foundFile.id}}" style="display: none;"/>

            <button  id="spin_nlp" type="submit" class="btn btn-primary btn-lg" style="float: right;">Start NLP</button>
            <!-- <button{% if fileId == None %} disabled{% endif %}>Approve</button> -->

        </form>
        
        <button class="btn btn-primary btn-lg" style="float: left; margin-left: 10px;"><a href="data:application/txt;charset=UTF-8,{{foundFile.ocrtext}}" download="{{foundFile.filename}}" style="color: white; text-decoration: none;">Download OCR Result</a></button> 




    </div>
</main>


{% endblock %}