{% extends 'base.html' %} <!-- Add this for inheritance -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1"> <!-- Content Container -->
        <h2 class="mt-4">About</h2>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav> -->


        <div class="card mb-4 bg-light">
            <div class="card-body">
                <div class=text-muted>
                    TODO
                    </div>
            </div>
        </div>


    </div>
</main>


{% endblock %}