{% extends 'base.html' %} <!-- Add this for inheritance -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1"> <!-- Content Container -->
        <h2 class="mt-4">Settings</h2>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" href="{% url 'home' %}" aria-current="page">Upload Files</li>
              <li class="breadcrumb-item active" aria-current="page">OCR</li>
            </ol>
        </nav> -->
        <div class="container-fluid p-3 my-3 border">
            TODO
        </div>

    </div>
</main>


{% endblock %}