{% extends 'base.html' %} <!-- Add this for inheritance -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1"> <!-- Content Container -->
        <h2 class="mt-4">Settings</h2>
        <!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page">Settings</li>
            </ol>
        </nav> -->
        <div class="card mb-4 bg-light">
            <div class="card-body">
                <div class=text-muted>
                    <label for="selection">Default OCR Language:</label>
                    <select id="selection" class="form-select" style="max-width: 80%;">
                        <option selected>English</option>
                        <option>German</option>
                    </select>
                    </div>
            </div>
        </div>

        <button onclick="setlang()" type="submit" class="btn btn-success btn-lg" style="float: left; margin-bottom: 4vw;margin-right: 10px;">Save Changes</button>


    </div>
</main>


{% endblock %}