{% extends 'base.html' %} <!-- Add this for inheritance -->
<!-- mit href="{PROZENT url 'home' PROZENT} kann man auf andere URL verlinken -->

{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1">
        <h2 class="mt-4">Tables</h2>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol> -->
        <!-- <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div> -->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Uploaded PDF Files
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Filename</th>
                            <th>Authors</th>
                            <th>PDF</th>
                            <!-- <th>OCR Result</th> -->
                            <!-- <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th> -->
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>

                        <!-- DATEN AUS DB EINFÜGEN -->

                        <!-- BEISPIEL -->
                        <tr> 
                            <td>0</td>
                            <td>Filename</td>
                            <td>Authors</td>
                            <td>PDF name</td>
                            <!-- <td>OCR Result</td> -->
                        </tr>

                        {% if files %}
                            {% for file in files %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ file.filename }} </td>
                                    <td> Authors </td>
                                    <td> <a href="{{ file.pdf.url }}" class="btn btn-outline-primary" target="_blank">View PDF</a></td>
                                    <!-- <td><a href="{{ file.ocrtext }}" class="btn btn-outline-primary" target="_blank">View OCR Result</a></td> -->
                                </tr>
                            {% endfor %}
                            {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}
