{% extends 'base.html' %} <!-- Add this for inheritance -->
<!-- mit href="{PROZENT url 'home' PROZENT} kann man auf andere URL verlinken -->
<!-- {% load static %}


{% block pagecontent %}
<main>
    <div class="container-fluid px-4 pt-1">
        <h2 class="mt-4">Tables</h2>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol> -->
        <!-- <div class="card mb-4">
            <div class="card-body">
                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                .
            </div>
        </div> -->
        <div class="card mb-4" id="body">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Uploaded PDF Files
            </div>
            <div class="card-body">
                <table id="datatablesSimple" class="display" >
                    <thead>
                        <tr>
                            <!-- <th>Select</th> -->
                            <th>Delete</th>
                            <th>Filename</th>
                            <th>Authors</th>
                            <th>Literature</th>
                            <th>Publishing Year</th>
                            <th>User</th>
                            <th>Date</th>
                            <th>PDF</th>
                            <th>OCR Result</th>
                            <th>Rules</th>
                            <th>Notes</th>
                            
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>

                        <!-- DATEN AUS DB EINFÜGEN -->

                        <!-- BEISPIEL -->
                        <tr> 
                            <!-- <td>.</td> -->
                            <td>0</td>
                            <td>DUMMY</td>
                            <td>Authors</td>
                            <td>Literature</td>
                            <td>Publishing Year</td>
                            <td>User</td>
                            <td>Date</td>
                            <td>PDF name</td>
                            <td>OCR Result</td>
                            <td>Rules</td>
                            <td>Notes</td>
                        </tr>

                        {% if files %} 
                            {% for file in files %}
                                
                                <tr>
                                    <!-- <td><input type="checkbox" aria-label="Checkbox" style="align-content: middle;"></td> -->
                                    <td><a href="{% url 'delete_table' id=file.id%}">
                                        <button type="button" class="btn btn-outline-danger btn-sm py-0 style="font-size: 0.8em;"><i class="fas fa-trash-alt"></i></button></a></td>
                                    <td>{{ file.filename }} </td>
                                    <td> {{ file.authors }} </td>
                                    <td> {{ file.literature }} </td>
                                    <td>{{ file.pubyear }}</td>
                                    <td>{{ file.user }}</td>
                                    <td>{{ file.date }}</td>
                                    <td> <a href="{{ file.pdf.url }}" class="btn btn-outline-primary" target="_blank">View PDF</a></td>
                                    <td>{% if file.ocrtext %}
                                        <a href="{{ file.ocrtext }}" class="btn btn-outline-primary">View OCR</a>
                                        {% else %}
                                        <span class="text-muted">No OCR</span>
                                        {% endif %}</td></a></td>
                                    <td>{% if file.rules %}
                                        <a href="{{ file.rules.url }}" download class="btn btn-outline-primary">Download Rules</a>
                                        {% else %}
                                        <span class="text-muted">No Rules</span>
                                        {% endif %}</td>
                                    <td>{{ file.note }}</td>
                                </tr>
                                
                            {% endfor %}
                            {% endif %}
                        
                    </tbody>
                </table>

            </div>

        </div>
        
        <!-- <button id="table_delete" type="submit" class="btn btn-outline-danger btn-lg" style="float: left;"><i class="fas fa-trash-alt"></i></button> -->
        <!-- <button id="table_download" type="submit" class="btn btn-primary btn-lg" style="float: right;">Download Rules</button>
        <button id="table_selectAll" onclick="" type="submit" class="btn btn-secondary btn-lg" style="float: right; margin-right: 20px; margin-bottom: 4vw;">Select All</button> -->
        
    </div>
</main>

{% endblock %}
